<%-include('../cabecalho.ejs')%>
<h1>Adicionar Torneio</h1>
<div>
    <a href="/torneio/lst">Listar</a>
</div>
<div>
    <form method="post">
        <label>Nome:</label>
        <input type="text" name="nome" required />

        <label>Jogo:</label>
        <input type="text" name="jogo" required />

        <label>Data de Início:</label>
        <input type="date" name="dataInicio" required />

        <label>Data de Término:</label>
        <input type="date" name="dataFim" required />

        <label>Premiação:</label>
        <input type="number" name="premiacao" required min="0" step="0.01" />

        <label>Status:</label>
        <select name="status" required>
            <option value="">Selecione</option>
            <option value="Aberto">Aberto</option>
            <option value="Em andamento">Em andamento</option>
            <option value="Finalizado">Finalizado</option>
        </select>

        <button type="submit">Cadastrar</button>
    </form>
</div>
<%-include('../rodape.ejs')%>
