<%-include('../cabecalho.ejs')%>
<h1>Adicionar Equipamento</h1>
<div>
    <a href="/equipamento/lst">Listar</a>
</div>
<div>
    <form method="post">
        <label>Nome:</label>
        <input type="text" name="nome" placeholder="Digite o nome do equipamento" required>
        <br>

        <label>Tipo:</label>
        <select name="tipo" required>
            <option value="">Selecione</option>
            <option value="Notebook">Notebook</option>
            <option value="Desktop">Desktop</option>
            <option value="Console">Console</option>
            <option value="Acessório">Acessório</option>
        </select>
        <br>

        <label>Marca:</label>
        <input type="text" name="marca" placeholder="Digite a marca" required>
        <br>

        <label>Preço:</label>
        <input type="number" name="preco" min="0" step="0.01" required>
        <br>

        <label>Ano:</label>
        <input type="number" name="ano" min="1900" max="<%= new Date().getFullYear() %>" required>
        <br><br>

        <button type="submit">Cadastrar</button>
    </form>
</div>
<%-include('../rodape.ejs')%>

